<div class="stats-row">
  <div class="stat-card" *ngFor="let stat of stats" [attr.data-section]="stat.section" role="button"
    (click)="navigateTo(stat.section)">
    <i [class]="stat.icon"></i>
    <div>
      <div class="stat-value">{{ stat.value }}</div>
      <div class="stat-label">{{ stat.label }}</div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-title">Recent Posts</div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of recentPosts">
     <td>
<span class="link" (click)="openPostDetailFromHome(post.id)">
  {{ truncateTitle(post.title) }}
</span>


</td>


        <td>{{ post.username }}</td>
      <td>
  <span class="badge"
        [ngClass]="{
          'bg-success': post.status === 1,
          'bg-danger': post.status === 2,
          'bg-warning': post.status === 0
        }">
    {{ getStatusText(post.status) }}
  </span>
</td>



        <td>{{ post.date || 'N/A' }}</td>
      </tr>

    </tbody>
  </table>
  <!-- Nút View All -->
<div class="">
  <button class="btn btn-primary" (click)="goToAllPosts()">
    <i class="fa fa-arrow-right"></i> View All Posts
  </button>
</div>

</div>
