<!-- Alert Sửa thành công -->

<ng-container *ngIf="createSuccess">
  <div
    class="alert alert-success alert-dismissible bg-success text-white alert-label-icon fade show material-shadow"
    role="alert"
  >
    <i class="ri-checkbox-circle-line label-icon"></i>
    <strong>Thành công!</strong> - Bạn đã thêm role thành công.
    <button
      type="button"
      class="btn-close btn-close-white"
      (click)="createSuccess = null"
      aria-label="Close"
    ></button>
  </div>
</ng-container>

<!-- Alert Thêm thất bại -->
<ng-container *ngIf="createError">
  <div
    class="alert alert-danger alert-dismissible bg-danger text-white alert-label-icon fade show material-shadow"
    role="alert"
  >
    <i class="ri-error-warning-line label-icon"></i>
    <strong>Thất bại!</strong> - Thêm role không thành công.
    <button
      type="button"
      class="btn-close btn-close-white"
      (click)="createError = null"
      aria-label="Close"
    ></button>
  </div>
</ng-container>
<ng-container *ngIf="editSuccess">
  <div
    class="alert alert-success alert-dismissible bg-success text-white alert-label-icon fade show material-shadow"
    role="alert"
  >
    <i class="ri-checkbox-circle-line label-icon"></i>
    <strong>Thành công!</strong> - Bạn đã sửa role thành công.
    <button
      type="button"
      class="btn-close btn-close-white"
      (click)="editSuccess = null"
      aria-label="Close"
    ></button>
  </div>
</ng-container>

<!-- Alert Sửa thất bại -->
<ng-container *ngIf="editError">
  <div
    class="alert alert-danger alert-dismissible bg-danger text-white alert-label-icon fade show material-shadow"
    role="alert"
  >
    <i class="ri-error-warning-line label-icon"></i>
    <strong>Thất bại!</strong> - Sửa role không thành công.
    <button
      type="button"
      class="btn-close btn-close-white"
      (click)="editError = null"
      aria-label="Close"
    ></button>
  </div>
</ng-container>

<div class="row mb-3">
  <ng-container *ngIf="isSuccess === true">
    <div class="col-xl-12">
      <div
        class="alert alert-success alert-dismissible bg-success text-white alert-label-icon fade show material-shadow"
        role="alert"
      >
        <i class="ri-checkbox-circle-line label-icon"></i>
        <strong>Thành công!</strong> - Bạn đã xóa role thành công.
        <button
          type="button"
          class="btn-close btn-close-white"
          (click)="isSuccess = null"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isSuccess === false">
    <div class="col-xl-12">
      <div
        class="alert alert-danger alert-dismissible bg-danger text-white alert-label-icon fade show material-shadow"
        role="alert"
      >
        <i class="ri-error-warning-line label-icon"></i>
        <strong>Thất bại!</strong> - Xóa role không thành công.
        <button
          type="button"
          class="btn-close btn-close-white"
          (click)="isSuccess = null"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </ng-container>
</div>

<div class="card">
  <div
    class="section-header d-flex justify-content-between align-items-center p-3"
  >
    <div class="card-title m-0">Manage Roles</div>

    <button class="btn btn-primary" (click)="openCreateModal()">
      <i class="fa fa-plus"></i> Add Role
    </button>
  </div>
  <!-- Search & Filter -->
  <div class="section-controls">
    <input
      type="text"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchOrFilterChange()"
      placeholder="Search role..."
    />

    <select
      [(ngModel)]="statusFilter"
      (ngModelChange)="onSearchOrFilterChange()"
    >
      <option value="">All Status</option>
      <option value="1">Active</option>
      <option value="0">Inactive</option>
    </select>
  </div>

  <table>
    <thead>
      <tr>
        <th style="width: 25%">Role Name</th>
        <th style="width: 35%">Description</th>
        <th style="width: 15%">Status</th>
        <th style="width: 15%; padding-right: 40px" class="text-end">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of paginatedRoles()">
        <td>{{ role.name }}</td>
        <td>{{ role.discription }}</td>

        <td>
          <span
            class="badge"
            [ngClass]="{
              'bg-success': role.status === 1,
              'bg-danger': role.status === 0
            }"
          >
            {{ role.status === 1 ? "Active" : "Inactive" }}
          </span>
        </td>

        <td class="text-end">
          <div class="d-inline-flex gap-2">
            <button
              class="btn btn-info me-2"
              (click)="editRole(role)"
              *ngIf="role.name !== 'User' && role.name !== 'Admin'"
            >
              <i class="fa fa-edit"></i> Edit
            </button>
            <button class="btn btn-danger" (click)="openDeleteModal(role)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination" *ngIf="totalPages() > 1">
  <!-- Về trang đầu -->
  <button (click)="changePage(1)" [disabled]="currentPage === 1">««</button>

  <!-- Về trang trước -->
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
    «
  </button>

  <!-- Các nút số trang -->
  <button
    *ngFor="let page of [].constructor(totalPages()); let i = index"
    (click)="changePage(i + 1)"
    [class.active]="currentPage === i + 1"
  >
    {{ i + 1 }}
  </button>

  <!-- Tới trang sau -->
  <button
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages()"
  >
    »
  </button>

  <!-- Tới trang cuối -->
  <button
    (click)="changePage(totalPages())"
    [disabled]="currentPage === totalPages()"
  >
    »»
  </button>
</div>

<!-- Modal thêm/sửa role -->
<div
  *ngIf="showModal"
  class="modal fade show d-block custom-modal"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title custom-title">
          {{ editingRole ? "Chỉnh Sửa Vai Trò" : "Thêm Mới Vai Trò" }}
        </h5>
        <button type="button" class="close custom-close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #roleForm="ngForm">
          <div class="form-group">
            <label for="roleName"
              >Role Name: <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              name="roleName"
              [(ngModel)]="modalRole.name"
              required
              #roleName="ngModel"
            />
            <div
              *ngIf="roleName.invalid && roleName.touched"
              class="error-message"
            >
              Bạn chưa nhập role name
            </div>
          </div>

          <div class="form-group">
            <label for="roleDiscription"
              >Description: <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              name="roleDiscription"
              [(ngModel)]="modalRole.discription"
              required
              #roleDiscription="ngModel"
            />
            <div
              *ngIf="roleDiscription.invalid && roleDiscription.touched"
              class="error-message"
            >
              Bạn chưa nhập description
            </div>
          </div>

          <div class="form-group">
            <label for="rolePermission">Permissions:</label>
            <div class="border rounded p-2 mt-2">
              <div *ngFor="let p of permissions" class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [value]="p.permissionid"
                  [checked]="modalRole.permissionid.includes(p.permissionid)"
                  (change)="onPermissionChange($event, p.permissionid)"
                  id="perm-{{ p.permissionid }}"
                />
                <label
                  class="form-check-label"
                  for="perm-{{ p.permissionid }}"
                  style="margin-left: 10px"
                >
                  {{ p.description }}
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="roleStatus">Status:</label>
            <select
              class="form-select"
              name="roleStatus"
              [(ngModel)]="modalRole.status"
            >
              <option [value]="1">Active</option>
              <option [value]="0">Inactive</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Đóng
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="saveRole()"
          [disabled]="roleForm.invalid"
          [ngClass]="{ 'disabled-btn': roleForm.invalid }"
        >
          {{ editingRole ? "Cập Nhật" : "Lưu" }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Xóa -->
<div
  class="modal"
  [class.show]="showDeleteModal"
  style="display: block"
  *ngIf="showDeleteModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-title">Xóa Role</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeDeleteModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold">
          Bạn có chắc chắn muốn xóa Role
          <strong>{{ selectedRole?.name }}</strong> không?
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeDeleteModal()">
          Hủy
        </button>
        <button class="btn btn-danger" (click)="confirmDeleteRole()">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showSaveConfirmModal"
  class="modal fade show d-block custom-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-title">Chỉnh sửa Role</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeSaveConfirmModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold">
          Bạn có chắc chắn muốn lưu thay đổi cho Role
          <strong>{{ selectedRole?.name }}</strong> không?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeSaveConfirmModal()"
        >
          Hủy bỏ
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmEditRole()"
        >
          Đồng ý
        </button>
      </div>
    </div>
  </div>
</div>
