<div class="row">
    <div class="col-xxl-12">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">Sửa language</h4>
        </div>

        <div class="card-body">
        <form [formGroup]="languageForm" (ngSubmit)="saveLanguage()">
          <!-- Tên người dùng -->
          <div class="form-group mb-3">
            <label for="name">Tên  <span class="text-danger">*</span></label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
              placeholder="Nhập tên "
            />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Vui lòng nhập tên </div>
            </div>
          </div>

          <!-- Ngôn ngữ -->
          <div class="form-group mb-3">
            <label for="locale"> Ngôn ngữ <span class="text-danger">*</span></label>
            <input
              type="locale"
              id="locale"
              formControlName="locale"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['locale'].errors }"
              placeholder="Nhập Ngôn Ngữ"
            />
            <div *ngIf="submitted && f['locale'].errors" class="invalid-feedback">
              <div *ngIf="f['locale'].errors['required']">Vui lòng nhập ngôn ngữ</div>
            </div>
          </div>
<!--
         !-- Hình ảnh -->
         <div class="form-group mb-3">
            <label for="image"> Hình ảnh </label>
            <input
              type="image"
              id="image"
              formControlName="image"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['image'].errors }"
              placeholder="Nhập Hình ảnh"
            />
            <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
              <div *ngIf="f['image'].errors['required']">Vui lòng nhập hình ảnh</div>
            </div>
          </div>


          <!-- Nút lưu -->
          <div class="form-group text-end">
            <button type="submit" class="btn btn-primary" [disabled]="languageForm.invalid">
              Lưu người dùng
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
