<main class="profile-container my-2" style="max-width: 900px; margin-top: 100px; ">
  <div class="row">
    <!-- LEFT: Thông tin người dùng -->
    <div class="col-md-8 ">
      <div class="p-4 bg-light border rounded shadow-sm mb-4">
        <h3 class="mb-4">Thông tin người quản trị</h3>

        <div class="row mb-3">
          <div class="col-4 fw-bold">ID:</div>
          <div class="col-8">{{ profile.userid }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4 fw-bold">Tên người dùng:</div>
          <div class="col-8">
            <h5 class="mb-0">{{ profile.username }} </h5>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4 fw-bold">Email:</div>
          <div class="col-8">{{ profile.email }}</div>
        </div>

        <div class="row mb-3">
          <div class="col-4 fw-bold">Vai trò:</div>
          <div class="col-8">
            <span class="badge bg-primary">{{ getRoleName(profile.roleid) }}</span>
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-4 fw-bold">Ngày tạo:</div>
          <div class="col-8">{{ profile.created_at | date:'dd/MM/yyyy' }}</div>
        </div>

        <div class="row mb-3">
          <div class="col-4 fw-bold">Trạng thái:</div>
          <div class="col-8">
            <span class="badge" [ngClass]="profile.status === 'active' ? 'bg-success' : 'bg-danger'">
              {{ profile.status === 'active' ? 'Hoạt động' : 'Ngưng hoạt động' }}
            </span>


          </div>
        </div>

      </div>
    </div>



  </div>
</main>
