<div class="row">
    <div class="col-xxl-12">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">Tạo Role</h4>

        </div>
        <div class="card-body">
        <form [formGroup]="roleForm"(ngSubmit)="saveRole()">

            <div class="form-group mb-3">
              <label for="[name]">Tên  <span class="text-danger">*</span></label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                placeholder="Nhập Tên"
              />
              <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Vui lòng nhập Tên</div>
              </div>
            </div>
              <!-- Nút Lưu -->
              <div class="form-group text-end">
                <button type="submit" class="btn btn-primary" [disabled]="roleForm.invalid">
                  Lưu Role
                </button>
              </div>
            </form>

          </div>
        </div>
